# Ignore bundler config
/.bundle

# Ignore node_modules directory
/node_modules

# Ignore yarn.lock file
/yarn.lock

# Ignore generated Rails artifacts
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*

# Ignore yarn error logs
npm-debug.log*

# Ignore environment variables file (contains sensitive information)
# /.env

# Ignore compiled assets for Rails
/public/assets

# Ignore public packs for Webpacker
/public/packs

# Ignore coverage reports
/coverage/

# Ignore local development configuration files
/config/application.yml
/config/database.yml
/config/secrets.yml
/config/master.key

# Ignore Mac OS X hidden files
.DS_Store

# Ignore IDE files
*.sublime-project
*.sublime-workspace
*.vscode/
*.idea/
*.editorconfig
*.yml
*.iml

# Ignore local development server pid file
/tmp/pids/*






node_modules
node_modules

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Local Netlify folder
.netlify
