



.icons{
    width: auto;
margin: 5px;
}
/* 
.adress{
    width: 25%;
height: 50px;
    margin: 5px;


}

.facebook{
    width: 25%;
    height: 50px;
    margin: 5px;


}

.email{
    width: 25%;
    height: 50px;
   
    margin: 5px;

}  */