

.number{
    width: 100px;
  margin: 5px;
  }
  
  
  
  .adress{
      width: 100px;
      margin: 5px;
  
  
  }
  
  .facebook{
      width: 100px;
      height: 100px;
      margin: 5px;
  
  
  }
  
  .email{
      width: 100px;
     
      margin: 5px;
  
  } 
