

<<<<<<< HEAD
.number{
    width: 100px;
  margin: 5px;
  }
  
  
  
  .adress{
      width: 100px;
      margin: 5px;
  
  
  }
  
  .facebook{
      width: 100px;
      height: 100px;
      margin: 5px;
  
  
  }
  
  .email{
      width: 100px;
     
      margin: 5px;
  
  } 
=======





.number{
  width: 100px;
margin: 5px;
}



.adress{
    width: 100px;
    margin: 5px;


}

.facebook{
    width: 100px;
    height: 100px;
    margin: 5px;


}

.email{
    width: 100px;
   
    margin: 5px;

} 




>>>>>>> 0336954fdcd1cee7f0084925d5be8865927e6391
